<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<script>

function gatherData() {
    return Promise.resolve();
}

function drawData() {

}

$( document ).ready(function() {
    gatherData().then(function() {
        drawData();
    });
});

</script>

<main>
    <div class="jumbotron" id="divMain">

    </div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>