<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon glyphicon-asterisk"></span>
            CoronaVirus
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/us">US</a></li>
        </ul>

        <ul class="nav navbar-nav">
            <li><a href="/states">States</a></li>
        </ul>
        <span class="navbar-text">
            Last updated at: <%= data.refresher.refreshTime %>
        <span>
    </div>

</div>
</nav>